.aboutme { 
    background-image: url("../img/about_me_rectangle.jpg"); 
    background-size: cover;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 494px;
    grid-template-rows: auto 1fr auto;
    gap: 35px 50px;

    &__photo {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
       }

    &__title,
    &__desc {
        margin: 0;
        line-height: 1.5;
        font-weight: 700;
    }

    &__title {
    font-family: Oswald;
    font-size: 36px;
    margin-bottom: 15px;
   }
   &__desc {
    font-size: 16px;
   }


   &__btns {
    display: flex;
    gap: 30px;
   }
}