.aboutme { 
    padding-top: 60px;
    padding-bottom: 61px;
    background-image: url("../img/about_me_rectangle.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    color: #fff;
    &__title {
    font-family: Oswald;
    font-size: 36px;
    line-height: 1.5;
   }
   &__desc {
    font-size: 16px;
    line-height: 1.5;
    max-width: 625px;
    margin: 0 0 50px;
   }
   &__photo {
    float: right;
    margin: 60px 0 0 50px;
   }
}